@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.quote_box{
  width: 550px;
  transform: translate(-50%,-50%);
}

.quote_content{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 28px;
}

.quote_author{
  font-family: 'Raleway', sans-serif;
}

.quote_content i{
  font-size: 25px;
}

button{
  color: white;
}

button:focus{
  outline: none;
}

button:hover{
  opacity: 0.9;
}